annotated-types
anyio
asttokens
certifi
click
colorama
comm
contourpy
cycler
debugpy
decorator
dnspython
email_validator
executing
fastapi
fastapi-cli
fonttools
git-filter-repo
h11
httpcore
httptools
httpx
idna
ipykernel
ipython
jedi
Jinja2
joblib
jupyter_client
jupyter_core
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
nest-asyncio
numpy
packaging
pandas
parso
pillow
platformdirs
prompt_toolkit
psutil
pure_eval
pydantic
pydantic_core
Pygments
pyparsing
python-dateutil
python-dotenv
python-multipart
pytz
PyYAML
pyzmq
rich
rich-toolkit
scikit-learn
scipy
shellingham
six
sniffio
stack-data
starlette
threadpoolctl
tornado
traitlets
typer
typing_extensions
tzdata
watchfiles
wcwidth
websockets
wordcloud
uvicorn[standard]
